body {
    background-color: #767cf5;
    background-image: url(../img/bg.jpg);
    background-repeat: repeat;
}

.main-panel {
    margin-top: 30px;
    padding: 15px;
}

.main-panel h1 {
    margin-bottom: 30px;
}

.main-panel .buttonbar {
    margin-top: 30px;
}

main {
    margin-top: 50px;
}

#userinfo {
    margin-top: 7px;
}

#userinfo .user-description {
    margin-top: 7px;
    margin-right: 5px;
}

.image-container {
    position: relative;
    height: 350px;
}

.image-container img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.video-container {
    margin-top: 22px;
}

.video-description {
    height: 200px;
    overflow-y: auto;
}

.hidden {
    display: none;
}

#custom-search-input {
    margin-top: 30px;
    margin-bottom: 30px;
}

.search-inputgroup {
    width: 100%;
}

.latest-video {
    min-height: 250px;
}

#idInputContainer {
    min-height: 250px;
}

#tag-cloud {
    height:300px;
    width:300px;
}

.search-container {
    min-height: 300px;
    max-height: 800px;
    overflow-y: auto
}