<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/dashboard">
                Verleihsystem
            </a>
        </div>

        <%if (isLogedIn) { %>
            <ul class="nav navbar-nav ">
                <li><a href="/new/video">Ich hab ein Objekt anzubieten</a></li>
                <li><a href="/search">Ich suche ein Verleihobjekt </a></li>
                <li><a href="/profile">Ich möchte mein Profile bearbeiten</a></li>
                
            </ul>
            <button id="btn-logout" type="button" class="btn btn-danger navbar-right navbar-btn">Logout</button>
            <a class="navbar-right navbar-text" href="/profile">
                <%= userName %>
            </a>
            <script>
                $(document).ready(function () {
                    $("#btn-logout").on("click", requestLogout);
                });
            </script>
            <% } %>


    </div>
</nav>