<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Marks, Laura und Gerald, Objektverleihverwaltung</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
<script src="/js/plugins/jquery-3.0.0.js"></script>

<!--Include TagCloud plugin -->
<script src="/js/plugins/jquery.svg3dtagcloud.min.js"></script>
<script src="/js/plugins/jquery.awesomeCloud-0.2.js"></script>

<!--Include bootsrapt-tagsinput -->
<link rel="stylesheet" href="/css/plugins/bootstrap-tagsinput.css">
<script src="/js/plugins/bootstrap-tagsinput.js"></script>

<!-- Custom Scripts-->
<script src="/js/main.js"></script>