<!-- views/pages/register.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="panel panel-default main-panel ">
            <h1>Registrieren</h1>
            <div class="alert alert-danger hidden errorMessagePasswordsDontMatch">
                <strong>Fehler!</strong> Die angegebenen Passwörter stimmen nicht überein!
            </div>
            <div class="alert alert-danger hidden errorMessageUserExists">
                <strong>Fehler!</strong> Ein Nutzer mit dieser Emailadresse existiert bereits!
            </div>
            <div class="form-group">
                <label for="email">Email-adresse:</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="form-group">
                <label for="pwd">Passwort:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd_confirm">Passwort wiederholen:</label>
                <input type="password" class="form-control" id="pwd_confirm">
            </div>
            <div class="buttonbar">
                <button type="button" class="btn btn-success" id="btn-register">Registrieren</button>
            </div>
        </div>
        </div>


    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>
        $(document).ready(function () {
            $("#btn-register").on("click", registerUser);
        });
    </script>
</body>

</html>