<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
    </header>
    <main>
      <div class="jumbotron">
          <div style="width: 50%; margin: 0 auto;">
          <h1>404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 </h1>
              <href="/dashboard">Zurück zur Startseite</a></p>
          </div>
      </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>